.header__navigation-list_page_lk {
  color: #1A1B22;
}

.header__navigation-list_page_lk:nth-of-type(2) {
  color: #1A1B22;
}

.header__navigation-list_page_lk:last-child {
  border: 1px solid #D1D2D6;
  color: #1A1B22;
}