.card__title {
  margin: 0 auto;
  padding: 0;
  min-height: 70px;
  width: calc(100% - 12%);
  font-family: 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  color: #1A1B22;
}

@media screen and (max-width: 845px) {
  .card__title {
    font-size: 22px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 631px) {
  .card__title {
    line-height: 1.18;
  }
}