.card__tooltip_type_info {
  left: 24px;
}

@media screen and (max-width: 845px) {
  .card__tooltip_type_info {
    left: 8px;
  }
}

@media screen and (max-width: 631px) {
  .card__tooltip_type_info {
    left: 16px;
  }
}