.search-form__container {
  width: 100%;
  height: 64px;
  position: relative;
  margin-bottom: 3px;
}

@media screen and (max-width: 845px) {
  .search-form__container {
    height: 56px;
  }
}

@media screen and (max-width: 495px) {
  .search-form__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 128px;
  }
}