.mobile-menu {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

@media screen and (min-width: 631px) {
  .mobile-menu {
    display: none;
  }
}