.search-form__submit {
  width: 168px;
  height: 100%;
  position: absolute;
  transform: translate(-100%, 0);
  padding: 0;
  margin: 0;
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  border-radius: 100px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
}

.search-form__submit:hover {
  background-color: #347EFF;
  cursor: url('../../../images/pointer.svg'), pointer;
  transition: background-color .5s linear;
}

.search-form__submit:focus {
  outline: none;
}

.search-form__submit:active {
  outline: none;
  background-color: #2A65CC;
}

@media screen and (max-width: 495px) {
  .search-form__submit {
    position: static;
    transform: translate(0, 0);
    width: 100%;
  }
}
