.search-form__input {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 24px;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #1A1B22;
  border: 1px solid #D1D2D6;
  border-radius: 100px;
}

.search-form__input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
}

.search-form__input::placeholder {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #B6BCBF;
}

.search-form__input::-webkit-input-placeholder {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #B6BCBF;
}

.search-form__input::-moz-placeholder {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #B6BCBF;
}

.search-form__input::-ms-input-placeholder {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #B6BCBF;
}

@media screen and (max-width: 495px) {
  .search-form__input {
    padding-left: 16px;
    margin-bottom: 16px;
  }
}