.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F6F7;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 845px) {
  .result {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 631px) {
  .result {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}