.about__img {
  width: calc(100% - 58.5%);
  object-fit: contain;
  border-radius: 1000px;
  align-self: center;
}

@media screen and (max-width: 845px) {
  .about__img {
    margin-top: 21px;
    width: 232px;
    height: 232px;
  }
}

@media screen and (max-width: 631px) {
  .about__img {
    margin-top: 0;
    width: 272px;
    height: 272px;
  }
}
