.card__text {
  margin: 16px auto 10px;
  padding: 0;
  height: 87px;
  width: calc(100% - 12%);
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  color: #1A1B22;
}

@media screen and (max-width: 845px) {
  .card__text {
    margin: 10px auto 12px;
  }
}

@media screen and (max-width: 495px) {
  .card__text {
    margin-bottom: 8px;
  }
}