.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 0;
}